
<div class="container">
    
    <div class="loginbox">
        <div><h3>Sign Up</h3></div>
      <div>
        <img class="user_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkhNsPdh4teDqH7_mgSlveh0DlZkLk-fkjuFBtNLaL3_ipWdz_">
    </div>
  
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        
      <div class="inputbox">
        <input formControlName="username" id="username" name="username" type="text" class="form-input" placeholder="Username" autocomplete="off" required ngModel>
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
        <div class="error" *ngIf="signupForm.controls['username'].hasError('required') && signupForm.controls['username'].touched">Username is required</div>
        
      </div>

      <div class="inputbox">
        <input formControlName="email" name="email" id="email" type="email" class="form-input" placeholder="Email ID" autocomplete="off" required ngModel>
        <span><i class="fa fa-lock" aria-hidden="true"></i></span>
        <div class="error" *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched">Email ID is required</div>
      </div>
      
      <div class="inputbox">
        <input formControlName="password" name="password" id="login-password" type="password" class="form-input" placeholder="Password" autocomplete="off" required ngModel>
        <span><i class="fa fa-lock" aria-hidden="true"></i></span>
        <div class="error" *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched">Password is required</div>
      </div>


      <div class="inputbox" >
        <select formControlName="role">
          <option [ngValue]="null" disabled>Choose your Role</option>
          <option *ngFor="let role of roles" [ngValue]="role">
           {{role}}
          </option>
        </select> 
        <div class="error" *ngIf="signupForm.controls['role'].hasError('required') && signupForm.controls['role'].touched">Role is required</div>
     
    </div>
      <div class="inputbox">
        <input type="submit" [disabled]="signupForm.invalid" value="Sign Up">
        
      </div>
       
      </form>
     
      
    </div>
  </div>
  
